@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 0.85rem;
  line-height: normal;
}

#map-holder {
  width: 100vw;
  height: 100vh;
}

svg {
  display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  margin: 1rem;
  background-color: white;
  border-radius: 4px;
  /* outline: solid  3px; */
  box-shadow: 0 0 0pt 2pt rgba(0,0,0,0.07);
}

*:focus {
    outline: none;
}

.input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 4px 0 0;
  background-color: white;
  border-bottom: solid rgba(0,0,0, 0.1) 1.5px;
}

input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 4px 0 0;
  padding: 0.8rem;
  background-color: white;
}

.button {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0.3rem 0.4rem;
}

.button {
  transition: ease-in all 0.03s;
}

.button:hover {
  transform: scale(1.1);
}

.download {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 2.6rem;
  border-top: solid rgba(0,0,0, 0.05) 1px;
  border-radius: 0 0 4px 4px;
  color: green;
  cursor: pointer;

}

.download div {
  padding: 1rem;
  transition: ease-in all 0.03s;
}

.download div:hover {
  transform: scale(1.1);
}


.mapDownload {
  pointer-events: none;
  position: fixed;
  top: 10000px;
  left: 10000px;
}

.styleIcon {
  border-radius: 4px;
  overflow: hidden;
}

.map-styles {
  align-items: center;
  display: flex;
  padding: 0.3rem 0.2rem;
}

.projections {
  /* padding: 0.3rem; */
}


/*
.projections div {
  cursor: pointer;
  position: relative;
  display: flex;
  transition: ease-in all 0.03s;
} */

/* .projections div:hover {
  transform: scale(1.03);
} */

* {
  box-sizing: border-box;
}
